<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Document</title>
</head>

<body>
    <!-- 在服务端中
    所有资源是通过url 标识获取的（/public）, ‘/’ 代表url 根路径（http://127.0.0.1:3000）
    -->
    <img src="/public/img/bg-4.jpg" alt="">
    <!-- <img src="../public/img/bg-4.jpg" alt=""> -->
    <!-- 
    当从上到下解析html时，所有的静态资源都会向服务端发送请求
 -->
</body>

</html>